<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foot.footprint.domain.group.dao.ArticleGroupRepository">
  <insert id="saveArticleGroupList" parameterType="java.util.List" useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO article_group( create_date, article_id, group_id ) VALUES
    <foreach collection="list" item="articleGroups" separator=",">
      (#{articleGroups.create_date}, #{articleGroups.article_id}, #{articleGroups.group_id})
    </foreach>
  </insert>
  <select id="existsArticleInMyGroup" resultType="boolean">
    SELECT EXISTS (
    SELECT 1 FROM article_group a join member_group m on (a.group_id = m.group_id)
    where a.article_id = #{articleId} and m.member_id = #{memberId}
    )
  </select>
</mapper>