<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foot.footprint.domain.group.dao.GroupRepository">
  <insert id="saveGroup" parameterType="Group" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO group_table(
    create_date, invitation_code, name, owner_id
    ) VALUES (#{create_date}, #{invitation_code}, #{name}, #{owner_id})
  </insert>
  <select id="findAllByMemberId" resultType="Long">
    select g.id from group_table g join member_group m on (g.id = m.group_id)
    where m.member_id = #{memberId}
  </select>
  <update id="changeGroupName">
    UPDATE group_table SET name = #{newName}
    WHERE id = #{groupId} and owner_id =#{ownerId}
  </update>
</mapper>