<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foot.footprint.domain.group.dao.GroupRepository">
  <insert id="saveGroup" parameterType="Group" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO group_table(
    create_date, invitation_code, name, owner_id
    ) VALUES (#{create_date}, #{invitation_code}, #{name}, #{owner_id})
  </insert>
  <select id="findGroupName" resultType="String">
    select g.name from group_table g join member_group m on (g.id = m.group_id)
    where m.member_id = #{memberId} and g.id = #{groupId}
  </select>
  <select id="findAllByMemberId" resultType="Long">
    select g.id from group_table g join member_group m on (g.id = m.group_id)
    where m.member_id = #{memberId}
  </select>
  <update id="changeGroupName">
    UPDATE group_table SET name = #{newName}
    WHERE id = #{groupId} and owner_id =#{ownerId}
  </update>
  <select id="findGroupDetails" resultMap="groupDetails">
    SELECT g.id groupId, g.name AS name, g.owner_id AS ownerId, g.invitation_code invitationCode,
    (SELECT important FROM member_group WHERE group_id = #{groupId} and member_id = #{memberId}) AS important,
    g.create_date createDate
    ,m.id AS memberId, m.nick_name AS nickName, m.image_url AS imageUrl
    FROM group_table g LEFT JOIN member_group mg ON g.id = mg.group_id
    LEFT JOIN member m ON mg.member_id = m.id
    WHERE g.id = #{groupId}
    AND #{memberId} IN (SELECT member_id FROM member_group WHERE group_id = #{groupId})
  </select>
  <resultMap id="groupDetails" type="groupDetailsDto">
    <id property="id" column="groupId"/>
    <result property="name" column="name"/>
    <result property="ownerId" column="ownerId"/>
    <result property="invitationCode" column="invitationCode"/>
    <result property="important" column="important"/>
    <result property="createDate" column="createDate"/>
    <collection property="memberDetails" ofType="foot.footprint.domain.group.dto.MemberDto">
      <id property="id" column="memberId"/>
      <result property="nickName" column="nickName"/>
      <result property="imageUrl" column="imageUrl"/>
    </collection>
  </resultMap>
</mapper>
