<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foot.footprint.domain.group.dao.MemberGroupRepository">
  <insert id="saveMemberGroup" parameterType="MemberGroup" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO member_group(
    create_date, group_id, member_id, important
    ) VALUES (#{create_date}, #{group_id}, #{member_id}, #{important})
  </insert>
  <select id="checkAlreadyJoined" resultType="boolean">
    SELECT EXISTS (
    SELECT 1 FROM member_group
    WHERE group_id = #{groupId} and member_id =#{memberId}
    )
  </select>
  <update id="changeImportant">
    UPDATE member_group SET important = NOT important
    WHERE group_id = #{groupId} and member_id =#{memberId}
  </update>
  <select id="findMyImportantGroups" resultType="GroupSummaryResponse">
    SELECT g.id, g.name
    FROM group_table g LEFT JOIN member_group m ON (g.id = m.group_id)
    WHERE m.member_id = #{memberId} AND m.important = true
  </select>
  <select id="findMyGroups" resultType="GroupSummaryResponse">
    SELECT g.id, g.name
    FROM group_table g LEFT JOIN member_group m ON (g.id = m.group_id)
    WHERE m.member_id = #{memberId}
  </select>
  <select id="existsMemberInGroup" resultType="boolean">
    SELECT EXISTS (
    SELECT 1 FROM member_group where group_id = #{groupId} and member_id = #{memberId} )
  </select>
</mapper>