<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foot.footprint.repository.article.findArticleRepository">
    <select id="findPublicMapArticles" resultType="Article">
        select * from article where public_map = 1 and
        latitude between #{lowerLatitude} and #{upperLatitude} and
        longitude between #{lowerLongitude} and #{upperLongitude}
    </select>
</mapper>