<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foot.footprint.domain.member.dao.MemberRepository">
  <insert id="saveMember" parameterType="Member" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO member(
    email, image_url, join_date, nick_name, password, provider, provider_id, role
    ) VALUES (#{email}, #{image_url}, #{join_date}, #{nick_name}, #{password}, #{provider},
    #{provider_id}, #{role})
  </insert>
  <select id="findMyPageDetails" resultMap="myPageDetails">
    SELECT m.id as memberId,  m.id as memberId, m.image_url as imageUrl, m.nick_name as nickName,
    m.email as email, m.join_date as visitDate,
    a.id as articleId, a.title as title, a.create_date as createDate, a.public_map as publicMap,
    a.private_map as privateMap ,count(distinct al.id) as totalLikes,
    count(distinct c.id) as totalComments, g.id as groupId, g.name as name
    FROM member m LEFT JOIN article a ON m.id = a.member_id LEFT JOIN comment c ON a.id = c.article_id
    LEFT JOIN article_like al ON a.id = al.article_id LEFT JOIN member_group mg ON m.id = mg.member_id
    LEFT JOIN group_table g ON mg.group_id = g.id WHERE m.id = #{memberId} GROUP BY a.id
    ORDER BY a.create_date DESC
  </select>
  <resultMap id="myPageDetails" type="MyPageResponse">
    <id property="memberId" column="memberId"/>
    <association property="myInfo" javaType="MyInfo">
      <id property="memberId" column="memberId"/>
      <result property="imageUrl" column="imageUrl"/>
      <result property="nickName" column="nickName"/>
      <result property="email" column="email"/>
      <result property="visitDate" column="visitDate"/>
    </association>
    <collection property="myArticles" notNullColumn="articleId"
      ofType="foot.footprint.domain.member.dto.MyArticleResponse">
      <id property="articleId" column="articleId"/>
      <result property="title" column="title"/>
      <result property="createDate" column="createDate"/>
      <result property="publicMap" column="publicMap"/>
      <result property="privateMap" column="privateMap"/>
      <result property="totalLikes" column="totalLikes"/>
      <result property="totalComments" column="totalComments"/>
    </collection>
    <collection property="myGroups" notNullColumn="groupId"
      ofType="foot.footprint.domain.member.dto.MyGroupSummary">
      <id property="groupId" column="groupId"/>
      <result property="name" column="name"/>
    </collection>
  </resultMap>
</mapper>