<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foot.footprint.domain.comment.dao.CreateCommentRepository">
  <insert id="saveComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO comment(
    content,  create_date, article_id, member_id
    ) VALUES (#{content}, #{create_date}, #{article_id}, #{member_id})
  </insert>
</mapper>