<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foot.footprint.domain.comment.dao.FindCommentRepository">
  <select id="findAllByArticleId" resultType="CommentResponse">
    SELECT c.id, c.content, m.id, m.nick_name, m.image_url, c.create_date, count(l)
    FROM comment c LEFT JOIN comment_like l ON (c.id = l.comment_id)
    LEFT JOIN member m ON (c.member_id = m.id)
    WHERE c.article_id = #{articleId}
  </select>
</mapper>